body{
    overflow-x: hidden;
    margin-top: 102px;
    font-family: 'Times New Roman', Times, serif;

}
.navbar-nav > .active a{
    color: red !important;
  }

.navbar{
    box-shadow: 3px 3px 10px #0a8306;
    opacity: 0.9;
    background: rgb(225, 225, 230);
    border-left: rgb(8, 114, 31) 3px solid; 
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.card-header{
        background-color: rgb(221, 241, 163);
        cursor: pointer;
    }
.audio-player{
    background: url('../img/whiemosque.jpg');
    background-size: cover; 
}

.video-container{
    background: rgb(34, 228, 9);    
}

.navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background: url('../img/ramadan-2412453__340.jpg');
    background-size: cover; 
}
.carousel-image-2 {
    background: url('../img/whiemosque.jpg');
    background-size: cover; 
}
.carousel-image-3 {
    background: url('../img/redmosque.jpg');
    background-size: cover; 
}
.carousel-image-4 {
    background: url('../img/UNIT31_UDSM\ Library.jpg');
    background-size: cover; 
}
.carousel-image-5 {
    background: url('../img/maftah.jpg');
    background-size: cover; 
}
.carousel-image-6 {
    background: url('../img/makka.jpg');
    background-size: cover; 
}
.carousel-image-7 {
    background: url('../img/diploma-1390785_1920.png');
    background-size: cover; 
}
.carousel-image-8 {
    background: url('../img/pic+UDSM.jpg');
    background-size: cover; 
}
/* #video-play{
    position: relative;
    min-height: 200px;
    /* background: url('../img/pic.jpg'); */
    /* background-attachment: fixed;
    text-align: center;
    color: rgb(9, 97, 6);
} */ */

#video-play a{
    color: rgb(247, 10, 10);
}
th{
    text-align: center;
}
h1{
    font-size: 23px;
}
th{
    text-align: left;
}